.input_container {
  padding: 20px 0px;
}

.input_container input {
  width: calc(100% - 40px);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid grey;
  outline-color: #2196f3;
  font-family: "Poppins", sans-serif;
}

.input_container input::placeholder {
  color: rgba(128, 128, 128, 0.576);
  font-family: "Poppins", sans-serif;
}
